<div class="container">
<div class="row">
  <div class="col">
    <h1 class="text-center mt-4">To Do List</h1>
  </div>
</div>
<div class="row mb-3">
  <div class="col-4 mx-auto">
    <form action="" class="form-inline" id="addForm">
      <input id="todo-input" class="form-control" placeholder="Something to be done">
      <button id="add-button" type="button" class="btn btn-primary">Add</button>
    </form>
  </div>
</div>
  <div class="row">
    <div class="col-4 mx-auto">
      <div class="" id="tasks"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-4 mx-auto">
     <div class="btn-group" role="group" aria-label="Basic example">
        <button id="all" type="button" class="btn btn-secondary active">All</button>
        <button id="active" type="button" class="btn btn-secondary">Active</button>
        <button id="complete" type="button" class="btn btn-secondary">Complete</button>
      </div>
    </div>
  </div>
</div>